<%- include("../partials/header") %>

<h2>Add Service Provider</h2>

<form method="POST">
  <input class="form-control mb-2" name="name" placeholder="Provider Name">
  <input class="form-control mb-2" name="service" placeholder="Service Type">
  <input class="form-control mb-2" name="phone" placeholder="Phone">
  <input class="form-control mb-2" name="location" placeholder="Location">
  <button class="btn btn-success">Add Provider</button>
</form>

<%- include("../partials/footer") %>
