<%- include("../partials/header") %>

<h2>Admin Login</h2>

<form method="POST">
  <input class="form-control mb-2" name="username" placeholder="Username">
  <input class="form-control mb-2" type="password" name="password" placeholder="Password">
  <button class="btn btn-success">Login</button>
</form>

<%- include("../partials/footer") %>
